.dark-medium-contrast {
  --md-sys-color-primary: rgb(189 200 255);
  --md-sys-color-surface-tint: rgb(183 196 255);
  --md-sys-color-on-primary: rgb(0 16 69);
  --md-sys-color-primary-container: rgb(128 142 200);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(198 201 225);
  --md-sys-color-on-secondary: rgb(17 21 38);
  --md-sys-color-secondary-container: rgb(140 144 166);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(232 190 222);
  --md-sys-color-on-tertiary: rgb(38 12 36);
  --md-sys-color-tertiary-container: rgb(171 133 163);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(18 19 24);
  --md-sys-color-on-background: rgb(227 225 233);
  --md-sys-color-surface: rgb(18 19 24);
  --md-sys-color-on-surface: rgb(252 250 255);
  --md-sys-color-surface-variant: rgb(69 70 79);
  --md-sys-color-on-surface-variant: rgb(202 202 212);
  --md-sys-color-outline: rgb(162 162 172);
  --md-sys-color-outline-variant: rgb(130 130 140);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(227 225 233);
  --md-sys-color-inverse-on-surface: rgb(41 42 47);
  --md-sys-color-inverse-primary: rgb(55 69 122);
  --md-sys-color-primary-fixed: rgb(220 225 255);
  --md-sys-color-on-primary-fixed: rgb(0 12 57);
  --md-sys-color-primary-fixed-dim: rgb(183 196 255);
  --md-sys-color-on-primary-fixed-variant: rgb(36 51 103);
  --md-sys-color-secondary-fixed: rgb(222 225 249);
  --md-sys-color-on-secondary-fixed: rgb(12 16 33);
  --md-sys-color-secondary-fixed-dim: rgb(194 197 221);
  --md-sys-color-on-secondary-fixed-variant: rgb(49 53 72);
  --md-sys-color-tertiary-fixed: rgb(255 215 245);
  --md-sys-color-on-tertiary-fixed: rgb(32 7 30);
  --md-sys-color-tertiary-fixed-dim: rgb(228 186 218);
  --md-sys-color-on-tertiary-fixed-variant: rgb(74 44 69);
  --md-sys-color-surface-dim: rgb(18 19 24);
  --md-sys-color-surface-bright: rgb(56 57 63);
  --md-sys-color-surface-container-lowest: rgb(13 14 19);
  --md-sys-color-surface-container-low: rgb(26 27 33);
  --md-sys-color-surface-container: rgb(30 31 37);
  --md-sys-color-surface-container-high: rgb(41 42 47);
  --md-sys-color-surface-container-highest: rgb(52 52 58);
}
